extends layout

block content
    form(action='/send' method='POST')
        div    balance: #{balance}
        div    address: #{zaddr}
        div(style="width:30em; overflow-wrap: break-word;") "private:
            br
            span(style="padding-left=2em")= zkey
        input(name='zaddr' type='hidden' value=zaddr)
        input(name='zkey' type='hidden' value=zkey)
        div
            span address
            input(name='to')
        div
            span amount
            input(type='number' step="0.000001" name='amount')
        input(type='submit' value='send')
